.plus{
    position: absolute;
    display: flex;
    background-color: rgb(212, 109, 109);
    width: 80px;
    height: 80px;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 30%;
    margin-left: 90%;
    border-radius: 100%;
    cursor: pointer;
    align-items: center;
    transition: 0.5s;
}
.plus:hover{
    transition: 1s;
    background-color: red;
    transform: translateX(5px);

}
.plus img{
    height: 80px;
    width: 80px;
}
.addproduct{
    position: relative;
    width: 35%;
    background-color: rgb(255, 255, 255);
    height: 800px;
    margin-top: -450px;
    margin-left: 450px;
    max-height:0px;
    overflow:hidden;
    border-radius: 12px;
    
}
.open-menu-product{
    max-height:450px;
}
